body {
    font-family: 'Roboto', serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    background: #FBFBFB;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Hero {
    max-width: 1920px;
}

.Header {
    display: flex;
    margin-top: -6px;
}

.header-logo img {
    height: auto;
    width: auto;
    max-height: 48px;
}

.Header {
    padding: 16px 290px;
    display: flex;
    gap: 48px;
    justify-content: space-between;
    align-items: center;
}

.header-button {
    min-width: 110px;
    min-height: 58px;
    border: none;
    border-radius: 14px;
    padding: 14px 30px;
    background: #003366;
    color: #fff;
}

.header-button span {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    border: none;
}

.nav_menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.menu_list {
    display: flex;
    gap: 16px;
    align-items: center;
}

.menu_item {
    padding: 12px 8px;
}

.menu_item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}

.nav-icon {
    max-width: 12px;
    margin-left: 4px;
}

.menu_item:hover .menu_link {
    border-bottom: 1px solid #003366; 
}

.hero-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 34px;
}

.hero-sub-container {
    width: 889px;
    border: none;
    border-radius: 20px;
    background: #003366;
    color: #FBFBFB;
    display: flex;
    flex-direction: column;
}

.header-text-container {
    padding: 58px 0 0 70px;
}

.header-text-container .first-header{
    width: 317px;
    height: 58px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
    margin-bottom: 0;
}

.header-text-container .second-header {
    width: 729px;
    height: 116px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
    margin-top: 0;
    margin-bottom: 0;
}

.text-container {
    margin-top: 8px;
    margin-left: 70px;
    margin-bottom: 64px;
}

.text-container p {
    width: 609px;
    height: 27px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 30px;
}

.text-container button {
    border: none;
    border-radius: 14px;
    padding: 14px 20px;
    background: #FBFBFB;
    color: #003366; 
}

.text-container span {
    width: 145px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.sub-container-img img {
    width: 433px;
    height: 100%;
    border: none;
    border-radius: 20px;
}

/* Advantages */

.advantages {
    width: 1920px;
    height: 560px;
    margin: 58px 0 0 0;
    background: #E0E7EF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}

.advantages-container {
    width: 1340px;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.advantages_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 431px;
    border-radius: 14px;
    padding: 30px 30px 0 30px;
    background: #FBFBFB;
}

.advantages_item img {
    width: 64px;
    height: 64px;
    margin: 0;
}

.advantages_item h4 {
    color: #003366;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 10px 0 0 0;
}

.advantages_item p {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 20px;
}

.advantages_item:first-child {
    width: 100%;
}

.advantages_item:not(:first-child) {
    flex: 1;
}

.advantages_main_item {
    width: 100%;
    border-radius: 16px;
    background: #FBFBFB;
    padding: 0 300px 0 50px;
    margin: 0;
}

.advantages_main_item h2 {
    width: 990px;
    height: 63px;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    line-height: 63px;
    font-weight: 500;
    color: #003366;
}

/* About me*/

.about-me {
    width: 1920px;
    display: flex;
    justify-content: center;
}

.about-me-container {
    width: 1340px;
    height: 658px;
    margin-top: 52px;
}

.about-me-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 16px;
    margin-bottom: 16px;
}

.about-me-header-container h2 {
    width: 1167px;
    height: 63px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
    color: #003366;
    margin: 0;
}

.about-me-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-me-button-container button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100px;
    padding: 14px;
    background: #003366;
}

.about-me-button-container button img {
    width: 12.25px;
    height: 12.25px;
}

.about-me-button-container p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #343434;
}

.about-me-main-container {
    width: 1340px;
    height: 575px;
    display: flex;
    gap: 24px;
}
.about-me-main-container img {
    width: 655px;
    height: 575px;
    border: none;
    border-radius: 14px;
    object-fit:cover;
}

.about-me-main-sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}

.about-me-main-card, .about-me-main-card-one, .about-me-main-card-two {
    background: #003366;
    border: none;
    border-radius: 14px;
    color: #FBFBFB;
    margin: 0;
}

.about-me-main-card {
    width: 660px;
    height: 333px;
}

.about-me-main-card h3{
    margin: 37px 0 0 34px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
}

.about-me-main-card p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-left: 34px; 
}

.about-me-main-card-one, .about-me-main-card-two {
    width: 317px;
    margin-top: -28px;
}

.about-me-main-card-one h2, .about-me-main-card-two h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
    text-align: center;
}

.about-me-main-card-one p, .about-me-main-card-two p {
    margin-top: -30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

/* Our courses */

.our-courses {
    width: 1920px;
    height: 2043px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.our-courses-container {
    width: 1340px;
}

.our-courses-header h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
    color: #003366;
}

.our-courses-card-container {
    border: 2px solid #003366;
    border-radius: 20px;
    padding: 40px;
}

.our-courses-card-container-header {
    width: 1260px;
    height: 60px;
    display: flex;
    align-items: center;
}

.our-courses-card-container-header-left {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.our-courses-card-container-header-left-icon {
    border: none;
    border-radius: 12px;
    padding: 16px;
    background: #003366;
}

.our-courses-card-container-header-left-icon img {
    width: 28px;
    height: 28px;
}

.our-courses-card-container-header-left h4 {
    width: 1058px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #003366;
}

.our-courses-card-container-header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.our-courses-card-container-header-right button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100px;
    padding: 14px;
    background: #003366;
}

.our-courses-card-container-header-right button img {
    width: 12.25px;
    height: 12.25px;
}

.our-courses-card-container-header-right p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #343434;
}

.our-courses-card-container-labels {
    width: 1260px;
    height: 47px;
    display: flex;
    gap: 12px;
    margin: 40px 0 40px 0;
}

.our-courses-card-container-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EFF3F7;
    border: none;
    border-radius: 45px;
    padding: 0 16px;
    gap: 8px;
    text-align: center;
}

.our-courses-card-container-label img {
    width: 24px;
    height: 24px;
}

.our-courses-card-container-label p {
    font-size: 18px;
    line-height: 27px;
    color: #343434;
}

.our-courses-card-container-main-ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;
    padding-left: 0;
}

.our-courses-card-container-main-paragraph {
    width: 1260px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #003366;
}

.our-courses-card-container-main-paragraphs {
    font-size: 18px;
    line-height: 27px;
    color: #343434;
}

.styled-marker > li {
    width: 1220px;
    height: 27px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #343434;
    list-style-type: none;
    position: relative;
}

.styled-marker > li::before {
    content: '';
    position: absolute;
    left: -40px; /* налаштуйте відступ, якщо потрібно */
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url(../images/list-style-img.png);
    background-size: cover;
}

.our-courses-card-container-price {
    height: 45px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 20px 0 36px 0;
}

.our-courses-card-container-price p {
    font-size: 30px;
    line-height: 45px;
    color: #003366;
}

.our-courses-card-container-price img {
    height: 45px;
}

.our-courses-card-container-footer button {
    width: 216px;
    border: none;
    border-radius: 14px;
    padding: 14px 30px;
    background: #003366;
}

.our-courses-card-container-footer span {
    font-size: 20px;
    line-height: 30px;
    color: #FBFBFB;
}